body {
  background-image: url("/public/assets/Sprinkle.svg");
  display: flex;
  justify-content: center;
  align-items: center;
    height: 100vh;
}

button {
  padding: 1em 2em;
  border-radius: 15px;
  border-width: 0;
  background-color: #D1D7DD;
  cursor: pointer;
}

.button-primary {
  background-color: #0E2A47;
  color: #FFFFFF;
  font-weight: 600;
}